<h2>Listado de Ejercicios</h2>

<ul class="ejercicios">
  <li *ngFor="let ejercicio of ejercicios" (click)="onSelectEjercicio(ejercicio)">
    <span class="ejercicio"><span class="badge">{{ ejercicio.id }}</span></span> {{ ejercicio.name }}
  </li>
</ul>

<div *ngIf="ejercicioSeleccionado">
  <h2>Detalles</h2>
  <div>
    <span>id:</span>{{ ejercicioSeleccionado.id }}
    <div>
      <label for="">name: </label>
      <input placeholder="name" [(ngModel)]="ejercicioSeleccionado.name">
    </div>
  </div>
</div>


